img {
  height: 500px;
  width: 500px;
  position: relative;
  top: -20px;
  left: -80px;
}
.container {
  position: fixed;
  color: white;
}
.text {
  position: absolute;
  top: 48%;
  left: 11%;
  width: 260px;
  height: 125px;
  font-size: 15px;
}
.date {
  position: absolute;
  top: 77%;
  left: 35%;
  font-size: 20px;
}
