.header {
  background-color: #ffa500;
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
}

.album-title {
  font-size: 2.5rem;
  margin: 0;
  color: #333;
}

.album-date {
  font-size: 1.5rem;
  margin: 0;
  color: #555;
}
