body {
  margin: 0 auto;
  background: url("./assets/wood-wall-with-frame.jpg") fixed;
  background-size: 1100px 700px;
  background-position: right top;
}

section {
  position: fixed;
  height: 353px;
  width: 580px;
  top: 25%;
  left: 31.5%;
}